.wrapper
  display flex
  margin-bottom 20px
  input, button
    font-size 1.1rem
    padding 6px 10px 6px 10px
  input
    flex-grow 1
    margin-right 8px
    padding 8px
  button
    color white
    background #5A4D46
    cursor pointer
    &:disabled
      cursor initial
