
.candidates
  min-height 200px
  margin-bottom 20px
  .message
    text-align center
  table 
    tr
      height 32px 
      td
        position relative
        span
          margin-left 24px
    tbody
      tr
        td
          span:nth-child(2)
            font-weight bold    

.ask
  width 100%
  font-size 1.1rem
  padding 12px 16px 12px 16px
  color white
  background #5A4D46


input[type="checkbox"]
  position absolute
  top 10px
  left 0
  width 16px
  height 16px
  margin-right 8px
