border-color = #aaa

:global
  .react-tabs
    -webkit-tap-highlight-color transparent

  .react-tabs__tab-list
    border-bottom 1px solid border-color
    margin 0 0 12px
    //padding 0
    display flex

  .react-tabs__tab 
    //display inline-block
    flex 1 1 0
    text-align center
    border 1px solid transparent
    border-bottom none
    bottom -1px
    position relative
    list-style none
    padding 6px 12px
    cursor pointer

  .react-tabs__tab--selected 
    background #fff
    border-color border-color
    color #463E39
    border-radius 5px 5px 0 0

  .react-tabs__tab--disabled 
    color GrayText
    cursor default
  
  .react-tabs__tabfocus
    box-shadow 0 0 5px hsl(208, 99%, 50%)
    border-color hsl(208, 99%, 50%)
    outline none
  
  .react-tabs__tabfocusafter
    content ""
    position absolute
    height 5px
    left -4px
    right -4px
    bottom -5px
    background #fff
  
  .react-tabs__tab-panel
    display none

  .react-tabs__tab-panel--selected 
    display block
  
