.title
  text-align center

.list
  display flex
  flex-wrap wrap
  justify-content center

.member
  position relative
  margin-right 8px
  text-align center
  width 156px
  height 84px

  h3
    position relative
    width 100px
    height 50px
    margin 0 auto
    padding 8px
    border-top 2px solid #5A4D46
    border-right 2px solid #5A4D46
    border-left 2px solid #5A4D46
    border-radius 50px 50px 0 0
    background #FFC700

  p
    position absolute
    margin 0
    width 156px
    height 24px
    border-right 2px solid #5A4D46
    border-left 2px solid #5A4D46
    border-radius 4px
    line-height 1.9em
    background white
  .name
    font-size 1.0rem
  .party
    top 36px
    font-size 0.8rem
    border-top 2px solid #5A4D46
    border-bottom 1px dashed #5A4D46
  .region
    top 63px
    border-bottom 2px solid #5A4D46
    font-size 0.75rem

  .responses
    ul
      display flex
      justify-content center
      li
        padding 1px
        span
          display inline-block
          width 16px
          height 16px
          border-radius 8px
    .true
      background #066A3E
    .false
      background #C91226
    .null
      background #F4CC1A

