.title
  text-align center

.member
  text-align center
  width 200px
  h3
    padding 2px
  p
    margin 0
    padding 0
  .name
    font-size 1.0rem
    margin 2px 0
  .party, .region
    font-size 0.8rem
    opacity 0.8
  .region
    opacity 0.5
  .responses
    ul
      display flex
      justify-content center
      li
        padding 1px
        span
          display inline-block
          width 16px
          height 16px
          border-radius 8px
    .true
      background #066A3E
    .false
      background #C91226
    .null
      background #F4CC1A
