@import "consts.styl"

div
    color color-secondary
   
.submit
    width 100%
    font-size 1.1rem
    padding 12px 16px 12px 16px
    color white
    background #5A4D46        

input
    border 1px solid color-secondary
    border-radius 4px
    margin-right 8px

