@import "consts.styl"


.odd
  background #F7F7F7
  color color-primary

.even
  background color-secondary
  color #FFFFFF

h3
  position relative
  max-width 720px
  height 32px
  margin auto
  font-size 0
  img
    margin 4px
  span
    position absolute
    top 20px
    left 4px
    font-size 10px
    color color-secondary


.lead
  h1
    margin 10px 0
    line-height 1.2
  h2
    background color-strong
    color color-primary
    display inline-block
    padding 2px 4px
    font-weight bold
    margin 5px 0
    font-size 1.1rem

  
.questions
  display flex
  justify-content center
  ul
    padding-right 80px
    li
      font-size 1.1rem

.credit
  margin 40px auto
  ul
    display flex
    justify-content center
    li
      padding-right 4px
      word-break keep-all
    li:last-child
      padding-right 0
