@import "consts.styl"


.odd
  background #F7F7F7
  color color-primary

.even
  background #5A4D46
  color #FFFFFF

.lead
  h1
    margin 10px 0
    line-height 1.2
  h2
    background color-strong
    color color-primary
    display inline-block
    padding 2px 4px
    font-weight bold
    margin 5px 0
    font-size 1.1rem

.questions
  display flex
  justify-content center
  ul
    padding-right 80px
    li
      font-size 1.1rem

.credit
  margin 40px auto
  ul
    display flex
    justify-content center
    li
      padding 5px
