@import "consts.styl"


reset()
  html, body, div
    margin 0
    padding 0

:global
  reset()

  body
    font-family "Noto Sans KR", sans-serif

  li
    list-style none

  strong
    background #E5CCA6
    color color-strong

.container
    margin 0 auto
    padding 40px 20px
    max-width 640px
